.tool-bar {
	-fx-background-image: url("minecrafttrees.jpg");
	-fx-background-position: center bottom;
	-fx-background-attachment: fixed;
}
.table-view {
	-fx-background-image: url("lavendermc.jpg");
	-fx-background-position: center bottom;
	-fx-background-size: cover;
	-fx-background-attachment: fixed;
	-fx-text-fill: black;
}


.table-row-cell {
	-fx-background-color: rgba(191.0,191.0,191.0,0);
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	
}
.column-header {
	-fx-background-color:white;	
}
#professorName{
	-fx-text-fill: white;
}
.root {
	-fx-background-color:#7A9754;
	
}
.button {
	-fx-background-color:white;
	-fx-font-weight: bold;
}